@font-face {
  font-family: "FuturaBold";
  src: local("FuturaBold"), url(../assets/fonts/futura-bold.woff2);
}

@font-face {
  font-family: "KinopoiskBold";
  src: local("KinopoiskBold"), url(../assets/fonts/kinopoisk-bold.woff2);
}

@font-face {
  font-family: "KinopoiskLight";
  src: local("KinopoiskLight"), url(../assets/fonts/kinopoisk-light.woff2);
}

@font-face {
  font-family: "KinopoiskLite";
  src: local("KinopoiskLite"), url(../assets/fonts/kinopoisk-lite.woff2);
}

@font-face {
  font-family: "KinopoiskMedium";
  src: local("KinopoiskMedium"), url(../assets/fonts/kinopoisk-medium.woff2);
}

@font-face {
  font-family: "KinopoiskReguar";
  src: local("KinopoiskReguar"), url(../assets/fonts/kinopoisk-regular.woff2);
}

@font-face {
  font-family: "KinopoiskSemibold";
  src: local("KinopoiskSemibold"), url(../assets/fonts/kinopoisk-semibold.woff2);
}
